[package]
name = "plumeimpactor"
description = "GUI for sideloading apps onto Apple devices"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
idevice.workspace = true
tokio.workspace = true
thiserror.workspace = true
uuid.workspace = true
plist.workspace = true
futures.workspace = true
env_logger.workspace = true
plume_core = { path = "../../crates/core" }
plume_utils = { path = "../../crates/types" }
plume_shared = { path = "../../crates/shared" }

wxdragon = { git = "https://github.com/PlumeImpactor/wxDragon", rev = "7d407ce", package = "wxdragon" }
rustls = { version = "0.23.32", features = ["ring"] }

[target.'cfg(target_os = "windows")'.build-dependencies]
embed-manifest = "1.4"
winres = "0.1"

[target.'cfg(target_os = "macos")'.dependencies]
gestalt = { path = "../../crates/gestalt" }
